---
import { type CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

import Bg from '@/components/Bg';
import Container from '@/components/Container';
import PageBodyGradient from '@/components/PageBodyGradient';
import Button from '@/components/Button';
import Carousel from '@/components/Carousel';

interface Props {
  team: CollectionEntry<'teams'>;
}

const { team } = Astro.props;
const { Content } = await team.render();
---

<main class="relative z-0">
  {team.slug === 'football' && <Bg className="bg-red-500" />}
  {team.slug === 'volleyball' && <Bg className="bg-blue-500" />}

  <article>
    {/* Header */}
    <header class="py-20 text-center">
      <Container className="max-w-screen-lg">
        {/* title */}
        <h1
          class="font-display mx-4 mt-2 text-4xl font-bold !leading-title md:text-6xl"
        >
          {team.data.title}
        </h1>

        {/* meta */}
        <div class="mt-6 flex flex-wrap items-center justify-center gap-4">
          <div class="inline-flex gap-1 text-lg">
            <span class="opacity-60">{team.data.description}</span>
          </div>
        </div>

        {/* skills */}
        <div class="mt-6 flex flex-wrap items-center justify-center gap-2">
          {
            team.data?.skills?.map((skill: string) => (
              <span class="rounded bg-white/3 px-3 py-1 text-zinc-400">
                {skill}
              </span>
            ))
          }
        </div>

        <Button
          type="button"
          href={team.data.url}
          className="mt-10 bg-emerald-400 text-zinc-950"
        >
          Следить
        </Button>
      </Container>
    </header>

    {/* Body */}
    <div class="relative z-0 pt-10">
      <PageBodyGradient />

      <Container className="max-w-screen-md">
        <div class="post leading-p">
          <Carousel
            numImages={team.data?.images.length}
            autoSlide={true}
            client:load
          >
            {
              team.data?.images?.map((image, i) => (
                <Image src={image} width={1024} alt={`Фото ${i}`} />
              ))
            }
          </Carousel>
          <Content />
        </div>
      </Container>
    </div>
  </article>
</main>
