---
import { Image } from 'astro:assets';

import BaseLayout from '@/layouts/BaseLayout.astro';
import Icon, { ICON_NAMES } from '@/components/Icon';
import Bg from '@/components/Bg';
import Container from '@/components/Container';
import {
  IconUserGroup,
  IconCalendarPlus,
  IconRecycle,
  InvestorList,
} from '@/components/Investor';
import PageBodyGradient from '@/components/PageBodyGradient';
import PageHeaderDesc from '@/components/PageHeaderDesc';
import PageHeaderTitle from '@/components/PageHeaderTitle';
import teamImg from '@/content/teams/images/team.jpg';
import ownerImg from '@/content/investors/images/owner.jpg';
import winterfest23Img from '@/content/about/images/winterfest23.jpg';
import rwcafe23Img from '@/content/about/images/rwcafe23.jpg';
import summerfest22Img from '@/content/about/images/summerfest22.jpg';
import spbchampBeachImg from '@/content/about/images/football/spbchamp-beach.jpg';
import spbcup24Img from '@/content/about/images/football/spbcup24.jpg';
import spbsupercup25Img from '@/content/about/images/football/spbsupercup25.jpg';
import team1Img from '@/content/about/images/volleyball/team1.jpg';
import team2Img from '@/content/about/images/volleyball/team2.jpg';
import teamWImg from '@/content/about/images/volleyball/team-w.jpg';

import '@/styles/post.css';
---

<BaseLayout title="О нас">
  <main class="relative z-0 text-center">
    <Bg className="bg-fuchsia-500" />

    <section class="py-16 md:pt-20 md:pb-32">
      <Container className="max-w-screen-lg">
        {/* header */}
        <header>
          <PageHeaderTitle> Real World Challenge </PageHeaderTitle>

          <PageHeaderDesc className="mt-2 grid gap-1 md:gap-2">
            <span>
              «Real World Challenge» («RWChallenge» или «РВЧеллендж») -
              сообщество любителей различных активностей в реальном мире.
            </span>
            <span>
              Наши усилия направлены на то, чтобы делать реальную жизнь
              интереснее и доступнее в любом уголке нашей планеты.
            </span>
            <span>
              Фокусом нашего внимания являются игровые и обучающие проекты в
              реальном мире.
            </span>
            <span> Выбери живую реальность. Выбери живую жизнь. </span>
          </PageHeaderDesc>
        </header>

        {/* mission */}
        <div class="mt-10 grid gap-6 md:mt-20 md:grid-cols-3">
          <div class="flex flex-col items-center">
            <IconUserGroup
              className="text-[60px] text-emerald-400 md:text-[70px]"
            />
            <h3 class="font-display mt-4 text-xl font-semibold">Сообщество</h3>
            <p class="mx-12 mt-2 opacity-60 md:mx-6">
              Найти и объединить людей, которые будут помогать друг другу.
            </p>
          </div>
          <div class="flex flex-col items-center">
            <IconCalendarPlus
              className="text-[60px] text-emerald-400 md:text-[70px]"
            />
            <h3 class="font-display mt-4 text-xl font-semibold">Активности</h3>
            <p class="mx-12 mt-2 opacity-60 md:mx-6">
              Участвовать в активностях в реальном мире.<br />
              И создавать свои.
            </p>
          </div>
          <div class="flex flex-col items-center">
            <IconRecycle
              className="text-[60px] text-emerald-400 md:text-[70px]"
            />
            <h3 class="font-display mt-4 text-xl font-semibold">
              Обмен ресурсами
            </h3>
            <p class="mx-12 mt-2 opacity-60 md:mx-6">
              Навыки и умения, финансы, реквизит, площадки, оборудование.
            </p>
          </div>
        </div>
      </Container>
    </section>

    <section class="py-16 md:pt-20 md:pb-32">
      <Container className="max-w-screen-lg">
        <header>
          <PageHeaderTitle as="h2"> Наши мероприятия </PageHeaderTitle>
        </header>

        <div class="post leading-p mt-10 grid gap-6 md:mt-20 md:grid-cols-3">
          <div class="flex flex-col items-center">
            <Image
              src={winterfest23Img}
              alt="Зимний сбор 2023"
              width={200}
              height={200}
              loading="lazy"
              class="object-cover"
            />
            <h3
              class="font-display mt-4 mb-1! text-center text-xl font-semibold"
            >
              Зимний сбор 2023 всех команд и финал нашего игрового проекта
              RWGames
            </h3>
            <ul class="text-left">
              <li>
                <a href="/actions/2023/rwgames-final-fest/">
                  Подробнее об активности
                </a>
              </li>
              <li>
                <a href="https://youtu.be/OhGh43ZI1Co" target="_blank">
                  <span class="ml-auto">
                    Видеообзор на Youtube от одного из участников
                  </span>
                  <Icon
                    icon={ICON_NAMES.ArrowUpRight}
                    className="ml-auto opacity-60"
                  />
                </a>
              </li>
              <li>
                <a href="https://youtu.be/fUQIOZOWBqE" target="_blank">
                  <span class="ml-auto">
                    Видеообзор на Youtube от другого участника
                  </span>
                  <Icon
                    icon={ICON_NAMES.ArrowUpRight}
                    className="ml-auto opacity-60"
                  />
                </a>
              </li>
            </ul>
          </div>
          <div class="flex flex-col items-center">
            <Image
              src={rwcafe23Img}
              alt="RWCafe 2023"
              height={200}
              loading="lazy"
              class="object-cover"
            />
            <h3
              class="font-display mt-4 mb-1! text-center text-xl font-semibold"
            >
              Новогодний сбор всех команд в игровом формате «мировое кафе»
              RWCafe 23
            </h3>
            <ul class="text-left">
              <li>
                <a href="/actions/2023/rwcafe/"> Подробнее об активности </a>
              </li>
            </ul>
          </div>
          <div class="flex flex-col items-center">
            <Image
              src={summerfest22Img}
              alt="Летний сбор 2022"
              height={200}
              loading="lazy"
              class="object-cover"
            />
            <h3
              class="font-display mt-4 mb-1! text-center text-xl font-semibold"
            >
              Летний сбор 2022 всех команд в игровом формате
            </h3>
            <ul class="text-left">
              <li>
                <a href="/actions/2022/summer-fest/">
                  Подробнее об активности
                </a>
              </li>
              <li>
                <a
                  href="https://vkvideo.ru/video-204268670_456239050"
                  target="_blank"
                >
                  <span class="ml-auto">
                    Видеообзор на VK от одного из участников
                  </span>
                  <Icon
                    icon={ICON_NAMES.ArrowUpRight}
                    className="ml-auto opacity-60"
                  />
                </a>
              </li>
              <li>
                <a
                  href=" https://vk.com/video-204268670_456239139"
                  target="_blank"
                >
                  <span class="ml-auto"> Видеообзор на VK </span>
                  <Icon
                    icon={ICON_NAMES.ArrowUpRight}
                    className="ml-auto opacity-60"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="post leading-p mx-auto max-w-7xl px-6 lg:px-8">
          <dl
            class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-2"
          >
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-base/7">
                <span class="opacity-60">
                  реализовано для сообщества, а также для организаций и семейных
                  праздников, см. раздел
                </span>
                <a href="/actions/2025/"> «Активности» </a>
                <span class="opacity-60"><br />(с тегом «RW активность»)</span>
              </dt>
              <dd
                class="order-first text-3xl font-semibold tracking-tight sm:text-5xl"
              >
                Более 30 активностей
              </dd>
            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-base/7 opacity-60">
                приняли участие в наших активностях
              </dt>
              <dd
                class="order-first text-3xl font-semibold tracking-tight sm:text-5xl"
              >
                Более 500 человек
              </dd>
            </div>
          </dl>
        </div>
      </Container>
    </section>

    <section class="py-16 md:pt-20 md:pb-32">
      <Container className="max-w-screen-lg">
        <header>
          <PageHeaderTitle as="h2"> Наша футбольная команда </PageHeaderTitle>
          <PageHeaderDesc className="mt-2">
            <span>Мужская команда. Играем в различных форматах.</span>
            <span>
              <br />
              Подробнее: <a
                href="/teams/football/"
                class="font-medium text-emerald-600 hover:underline dark:text-emerald-400"
              >
                страничка команды
              </a>, <a
                href="/football-present-short.pdf"
                target="_blank"
                class="font-medium text-emerald-600 hover:underline dark:text-emerald-400"
              >
                презентация команды (короткая версия) (pdf)
              </a>, <a
                href="/football-present.pdf"
                target="_blank"
                class="font-medium text-emerald-600 hover:underline dark:text-emerald-400"
              >
                презентация команды (pdf)
              </a>.
            </span>
          </PageHeaderDesc>
        </header>

        <div class="post leading-p mt-10 grid gap-6 md:mt-20 md:grid-cols-3">
          <div class="flex flex-col items-center">
            <Image
              src={spbchampBeachImg}
              alt="Победитель чемпионата Санкт-Петербурга по пляжному футболу 2024 высшего дивизиона"
              height={200}
              loading="lazy"
              class="object-cover"
            />
            <h3
              class="font-display mt-4 mb-1! text-center text-xl font-semibold"
            >
              Победитель чемпионата Санкт-Петербурга по пляжному футболу 2024
              высшего дивизиона
            </h3>
            <ul class="text-left">
              <li>
                <a href="/actions/2024/spbchamp-beach/">
                  Подробнее об активности
                </a>
              </li>
              <li>
                <a
                  href="https://vkvideo.ru/video-121636282_456243893"
                  target="_blank"
                >
                  <span class="ml-auto"> Видеообзор на VK </span>
                  <Icon
                    icon={ICON_NAMES.ArrowUpRight}
                    className="ml-auto opacity-60"
                  />
                </a>
              </li>
            </ul>
          </div>
          <div class="flex flex-col items-center">
            <Image
              src={spbcup24Img}
              alt="Победитель кубка Санкт-Петербурга по футболу 2024 года"
              height={200}
              loading="lazy"
              class="object-cover"
            />
            <h3
              class="font-display mt-4 mb-1! text-center text-xl font-semibold"
            >
              Победитель кубка Санкт-Петербурга по футболу 2024 года
            </h3>
            <ul class="text-left">
              <li>
                <a href="/actions/2024/spbcup/"> Подробнее об активности </a>
              </li>
              <li>
                <a
                  href="https://vk.com/clip-204268670_456239126"
                  target="_blank"
                >
                  <span class="ml-auto"> Короткое видео на VK </span>
                  <Icon
                    icon={ICON_NAMES.ArrowUpRight}
                    className="ml-auto opacity-60"
                  />
                </a>
              </li>
              <li>
                <a
                  href="https://vkvideo.ru/video-212289738_456239572"
                  target="_blank"
                >
                  <span class="ml-auto"> Видеообзор на VK </span>
                  <Icon
                    icon={ICON_NAMES.ArrowUpRight}
                    className="ml-auto opacity-60"
                  />
                </a>
              </li>
            </ul>
          </div>
          <div class="flex flex-col items-center">
            <Image
              src={spbsupercup25Img}
              alt="Обладатель суперкубка Санкт-Петербурга по футболу 2025"
              height={200}
              loading="lazy"
              class="object-cover"
            />
            <h3
              class="font-display mt-4 mb-1! text-center text-xl font-semibold"
            >
              Обладатель суперкубка Санкт-Петербурга по футболу 2025
            </h3>
            <ul class="text-left">
              <li>
                <a href="/actions/2025/spbsupercup/">
                  Подробнее об активности
                </a>
              </li>
              <li>
                <a
                  href="https://vkvideo.ru/video-212289738_456239834"
                  target="_blank"
                >
                  <span class="ml-auto"> Видеообзор на VK </span>
                  <Icon
                    icon={ICON_NAMES.ArrowUpRight}
                    className="ml-auto opacity-60"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="post leading-p mx-auto max-w-7xl px-6 lg:px-8">
          <dl
            class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-2"
          >
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-base/7 opacity-60">
                сыграно в различных форматах
              </dt>
              <dd
                class="order-first text-3xl font-semibold tracking-tight sm:text-5xl"
              >
                Более 22 турниров
              </dd>
            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-base/7 opacity-60">
                разного достоинства заслужила команда
              </dt>
              <dd
                class="order-first text-3xl font-semibold tracking-tight sm:text-5xl"
              >
                10 трофеев
              </dd>
            </div>
          </dl>
        </div>
      </Container>
    </section>

    <section class="py-16 md:pt-20 md:pb-32">
      <Container className="max-w-screen-lg">
        <header>
          <PageHeaderTitle as="h2"> Наши волейбольные команды </PageHeaderTitle>
          <PageHeaderDesc className="mt-2">
            <span>
              Две мужские команды и одна женская. Играем в классический
              волейбол.
            </span>
            <span>
              <br />
              Подробнее см. на <a
                href="/teams/volleyball/"
                class="font-medium text-emerald-600 hover:underline dark:text-emerald-400"
              >
                страничке команды
              </a>
            </span>
          </PageHeaderDesc>
        </header>

        <div class="post leading-p mt-10 grid gap-6 md:mt-20 md:grid-cols-3">
          <div class="flex flex-col items-center">
            <Image
              src={team1Img}
              alt="Первая мужская команда"
              height={200}
              loading="lazy"
              class="object-cover"
            />
            <h3
              class="font-display mt-4 mb-1! text-center text-xl font-semibold"
            >
              Первая мужская команда
            </h3>
            <ul class="text-left">
              <li>
                <a href="/actions/2024/kvl-m1-r1">
                  КВЛ Сезон 2024/2025 Первый круг Муж
                </a>
              </li>
            </ul>
          </div>
          <div class="flex flex-col items-center">
            <Image
              src={teamWImg}
              alt="Женская команда"
              height={200}
              loading="lazy"
              class="object-cover"
            />
            <h3
              class="font-display mt-4 mb-1! text-center text-xl font-semibold"
            >
              Женская команда
            </h3>
            <ul class="text-left">
              <li>
                <a href="/actions/2024/kvl-w-r1">
                  КВЛ Сезон 2024/2025 Первый круг Жен
                </a>
              </li>
            </ul>
          </div>
          <div class="flex flex-col items-center">
            <Image
              src={team2Img}
              alt="Вторая мужская команда"
              height={200}
              loading="lazy"
              class="object-cover"
            />
            <h3
              class="font-display mt-4 mb-1! text-center text-xl font-semibold"
            >
              Вторая мужская команда
            </h3>
            <ul class="text-left">
              <li>
                <a href="/actions/2024/kvl-m2-r1">
                  КВЛ Сезон 2024/2025 Первый круг Муж 2
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="post leading-p mx-auto max-w-7xl px-6 lg:px-8">
          <dl
            class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-2"
          >
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-base/7 opacity-60">
                сыграно в различных турнирах
              </dt>
              <dd
                class="order-first text-3xl font-semibold tracking-tight sm:text-5xl"
              >
                Более 25 турниров
              </dd>
            </div>
            <div class="mx-auto flex max-w-xs flex-col gap-y-4">
              <dt class="text-base/7 opacity-60">
                разного достоинства заслужили команды
              </dt>
              <dd
                class="order-first text-3xl font-semibold tracking-tight sm:text-5xl"
              >
                7 трофеев
              </dd>
            </div>
          </dl>
        </div>
      </Container>
    </section>

    <section class="relative py-16 md:py-28">
      <Container className="max-w-screen-lg">
        <header>
          <PageHeaderTitle as="h2">Наша команда</PageHeaderTitle>
          <PageHeaderDesc className="mt-4">
            Мы учавствовали во многих активностях как участники и как
            организаторы. <br />
            И открыты к новым вызовам.<br />
            Следите за нашими активностями и зовите участвовать в своих.
          </PageHeaderDesc>
        </header>

        <div class="group/investor flex flex-col items-center">
          <p class="mt-4">
            <Image
              class="rounded-3xl object-cover"
              width={860}
              src={teamImg}
              alt="Команда"
              loading="lazy"
            />
          </p>
        </div>
      </Container>
    </section>

    <section
      class="relative z-0 mx-auto max-w-screen-md px-6 py-16 md:px-10 md:py-28"
    >
      <div class="post leading-p">
        <div class="lg:-mx-40">
          <div
            class:list={[
              'group/investor grid place-items-center gap-6 rounded-4xl',
              'border-4 border-white/5 p-10 text-center md:px-20 md:py-16',
            ]}
          >
            <Image
              src={ownerImg}
              alt="Основатель"
              width={80}
              height={80}
              loading="lazy"
              class="rounded-full object-cover"
            />

            <p
              class="bg-gradient-to-br from-white to-[#6DBEA6] bg-clip-text text-xl font-medium text-transparent"
            >
              Сейчас я ощущаю себя героем фильма "Эта замечательная жизнь". Три
              года я вкладываю свои ресурсы в развитие сообщества. За это время
              оно приобрело такие масштабы, на которые уже не достаточно только
              моих ресурсов. Пришло время привлекать новые ресурсы для
              поддержания текущей деятельности и развития сообщества. Поэтому
              если вам близки идеи сообщества, то <a href="/#community">
                становитесь
              </a> его участником и
              <a href="/support"> поддержите </a> его доступными вам способами.
            </p>

            <div>
              <span class="opacity-80">Дмитрий Красовский</span>
              <span class="opacity-40">, Основатель RWChallenge</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="relative z-0 py-16 md:py-32">
      <PageBodyGradient />

      <Container className="max-w-screen-lg">
        <header>
          <PageHeaderTitle as="h2">Наши инвесторы</PageHeaderTitle>
          <PageHeaderDesc className="mt-4">
            Эти люди вкладывают свои энергию и ресурсы в развитие сообщества.
          </PageHeaderDesc>
        </header>

        <div class="mt-12 md:mt-24">
          <InvestorList />
        </div>
      </Container>
    </section>
  </main>
</BaseLayout>
