---
const {
  title,
  description,
  href,
  category,
  status,
  categoryVal,
  statusVal,
  end,
} = Astro.props;
---

<a
  class="group/source-box flex flex-col rounded-3xl bg-white/5 p-6 backdrop-blur transition hover:scale-[1.02] hover:bg-white/10 md:p-8"
  href={href}
>
  <h5 class="font-display flex items-center gap-2 text-xl font-medium">
    {title}
    {
      href && (
        <span
          class:list={[
            'inline-flex translate-y-1/4 items-center opacity-0 transition',
            'group-hover/source-box:translate-y-0 group-hover/source-box:opacity-100',
            (category as string).indexOf('Football') === 0 && 'text-blue-400',
            category === 'Volleyball' && 'text-yellow-400',
            category === 'RWAction' && 'text-red-300',
          ]}
        />
      )
    }
  </h5>

  <p class="mt-1 grow opacity-40">
    {description}
  </p>

  {
    end === undefined ||
    end === '' ||
    new Date(end).getFullYear() === new Date().getFullYear() ? (
      <div
        class:list={[
          '-mb-1 mt-3 inline-flex items-center gap-2 self-start rounded-full px-2 py-1 text-sm opacity-80',
          status === 'Active' && 'bg-emerald-300/10 text-emerald-400',
          status === 'Target' && 'bg-pink-300/10 text-pink-400',
          status === 'Archive' && 'bg-gray-300/10 text-gray-400',
        ]}
      >
        <span class="inline-flex h-3 w-3 rounded-full bg-current" />
        {statusVal}
      </div>
    ) : (
      <Fragment />
    )
  }

  <div
    class:list={[
      '-mb-1 mt-3 inline-flex items-center gap-2 self-start rounded-full px-2 py-1 text-sm opacity-80',
      (category as string).indexOf('Football') === 0 &&
        'bg-blue-300/10 text-blue-300',
      category === 'Volleyball' && 'bg-yellow-300/10 text-yellow-300',
      category === 'RWAction' && 'bg-red-300/10 text-red-300',
    ]}
  >
    <span class="inline-flex h-3 w-3 rounded-full bg-current"></span>
    {categoryVal}
  </div>
</a>
